<nav class="navbar navbar-expand-lg navbar-info bg-dark">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <!-- admin -->
        <li *ngIf="_usuariosService.obtenerIdentidad().rol === 'ROL_ADMIN'"  class="nav-item">
          <a class="nav-link" routerLink="/admin/vistaadmin" routerLinkActive="active"> Super Admin </a>
        </li>

       <!-- usuario -->

        <li *ngIf="_usuariosService.obtenerIdentidad().rol === 'ROL_USUARIO'" class="nav-item">
          <a class="nav-link" routerLink="/usuario/vistausuario" routerLinkActive="active"> Usuario </a>
        </li>

        <li *ngIf="_usuariosService.obtenerIdentidad().rol === 'ROL_USUARIO'" class="nav-item">
          <a class="nav-link" routerLink="/usuario/editarusuario" routerLinkActive="active"> Editar Usuario </a>
        </li>

       <!-- doctor -->

        <li *ngIf="_usuariosService.obtenerIdentidad().rol === 'ROL_DOCTOR'" class="nav-item">
          <a class="nav-link" routerLink="/doctor/vistadoctor" routerLinkActive="active"> Doctor </a>
        </li>

        <li *ngIf="_usuariosService.obtenerIdentidad().rol === 'ROL_DOCTOR'" class="nav-item">
          <a class="nav-link" routerLink="/doctor/editardoctor" routerLinkActive="active"> Editar Perfil </a>
        </li>

      </ul>

    </div>
    <a class="navbar-brand" (click)="clearToken()"  routerLink="/login" routerLinkActive="active">Cerrar sesión</a>
  </div>
</nav>
