<!-- Modal Ver Doctores -->

<br>
<div class="container ">
  <div class="container text-center text-Whyte bg-white py-4">
      <div class="container">
                  <h1 >
                     CITAS DE ESTE DOCTOR</h1>
<br>

<div class = "container">
  <div class ="row">
    <div class="col-12 col-md-4" *ngFor="let cita of getCitasDoctor">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
          <h4 class="card-title">{{ cita.nombre }}</h4>
          <h4 class="card-title">{{ cita.apellido }}</h4>

          <img src="../../../assets/img/citamedica.png" class="card-img-top" alt="citas-logo">

          <br>
          <br>

          <p class="card-text">ID: {{cita._id}}</p>
          <p class="card-text">Peso: {{cita.peso}}</p>
          <p class="card-text">Enfermedades: {{cita.enfermedades}}</p>
          <p class="card-text">Edad: {{cita.edad}}</p>
          <p class="card-text">Estatura: {{cita.estatura}}</p>
          <p class="card-text">Direccion: {{cita.direccion}}</p>
          <p class="card-text">Pais: {{cita.pais}}</p>
          <p class="card-text">Numero turno: {{cita.numeroTurno}}</p>
          <p class="card-text">Fecha: {{cita.fecha}}</p>
          <p class="card-text">Hora: {{cita.hora}}</p>
          <p class="card-text">Telefono: {{cita.telefono}}</p>

        </div>

    </div>
  </div>
</div>

<br>
<br>

<h1 >
  INFORMACIÓN DEL DOCTOR</h1>


  <br>
  <br>

  <div class = "container">
    <div class ="row">
      <div class="col-12 col-md-4" *ngFor="let datos of getDatosDoctor">
        <div class="card text-white bg-secondary mb-3">
          <div class="card-body">
            <h4 class="card-title">Horario: {{ datos.horario }}</h4>
            <h4 class="card-title">Habitación: {{ datos.habitacion }}</h4>

            <img src="../../../assets/img/datos2.png" class="card-img-top" alt="datosimg">

            <br>
            <br>
          <p class="card-text">Sexo: {{datos.sexo}}</p>
          <p class="card-text">Especialidad: {{datos.especialidad}}</p>
          <p class="card-text">Teléfono: {{datos.telefono}}</p>




          </div>

      </div>
    </div>
  </div>

